<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt univ-col-1">
    <i id="anchor-inf"></i><br><br>
    <hr>
    <h1>Actualité/News</h1>
    <div class="men-desc">
      Le module d'actualité/news est un véritable outil de communication. Il permet de diffuser rapidement et efficacement des informations à l'ensemble de la communauté éducative. L'administration peut y partager des annonces, des liens utiles ou encore des événements à venir. Les élèves et leurs parents sont ainsi tenus informés de la vie de la classe, du collège ou du lycée. Ce module favorise une communication transparente et régulière, renforçant le lien entre l'école et la famille. De plus, il permet de centraliser les informations importantes, évitant ainsi la dispersion et la perte de données.
      <br>
      En choisissant Maviescolaire.com, vous faites le choix d'une éducation de qualité, qui vous permettra de vous concentrer sur l'essentiel.
    </div>
    <br>
    {#
    <strong>Admission</strong><br>
    Ci-dessous la liste des dossiers en version papier à fournir pour l’inscription en les remettant à la scolarité de l'Université ACEEM Manakambahiny :<br>
    {% include 'Static/_mentionpieceadm.html.twig' %}
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;1x Chemise cartonnée (INFO jaune)<br>
    {% include 'Static/_mentionupfoot.html.twig' %}
    #}

    <strong>Avantages</strong><br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Immédiat: Les annonces sont diffusée directement.<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Ciblée: Les actualités ont un des destinataires ciblés.<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Communauté: Les événements et la vie dans et autour de l'école renforce la cohésion.<br>



  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>