<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt univ-col-1">
    <i id="anchor-com"></i><br><br>
    <hr>
    <h1>Finance</h1>
    <div class="men-desc">
        Le module de finance offre une gestion optimisée des aspects financiers de votre établissement. Il permet de centraliser toutes les opérations financières, de la facturation des frais de scolarité pour chaque élève. Les établissements peuvent ainsi suivre en temps réel l'état de leurs comptes, générer des rapports précis et automatiser les tâches administratives récurrentes. Ce module facilite également la communication avec les familles en leur permettant de consulter en ligne leurs factures.
        <br>
        En choisissant Maviescolaire.com, vous faites le choix d'une éducation de qualité, qui vous permettra de vous concentrer sur l'essentiel.
    </div>
    <br>
    <strong>Avantages</strong><br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Centralisation: Toutes les opérations financières sont regroupées dans un seul outil.<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Suivi en temps réel: L'état des comptes est toujours à jour.<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Automatisation: Les tâches répétitives sont automatisées pour gagner du temps.<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Transparence: Les familles peuvent consulter leurs informations financières en ligne.<br>

    {#
    <strong>Admission</strong><br>
    La condition d’admission se fait par sélection de dossier.<br>
    Ci-dessous la liste des dossiers en version papier à fournir pour l’inscription en les remettant à la scolarité de l'Université ACEEM Manakambahiny :<br>
    {% include 'Static/_mentionpieceadm.html.twig' %}
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;1x Chemise cartonnée (COMMUNICATION bleu)<br>
    {% include 'Static/_mentionupfoot.html.twig' %}
    #}

  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>