<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt univ-col-1">
    <i id="anchor-ges"></i><br><br>
    <hr>
    <h1>Gestion de Note</h1>
    <div class="men-desc">  
        Le module de gestion des notes révolutionne le suivi scolaire. Il offre un outil simple et efficace pour saisir, consulter et analyser les performances des élèves. Les enseignants peuvent ainsi saisir les notes facilement et les publier en ligne, permettant aux élèves et à leurs parents d'avoir accès en temps réel à leurs résultats. Grâce à des fonctionnalités avancées de calcul de moyennes et de génération de bulletins, ce module facilite le suivi des progrès de chaque élève et permet aux enseignants d'identifier les points forts et les difficultés de chacun. Vous n'avez plus besoin d'attendre le relevé de note papier pour savoir où en est votre enfant.
        <br>
        En choisissant Maviescolaire.com, vous faites le choix d'une éducation de qualité, qui vous permettra de vous concentrer sur l'essentiel.
    </div>
    <br>
    
    <strong>Avantages</strong><br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Visibilité: Les notes sont connues en temps réel.<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Anticipation: Vous savez où en est votre enfant et vous pouvez savoir plus rapidement si un soutien est nécessaire.<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Facilité: Les enseignants peuvent reporter facilement les notes.<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Statistiques: Les moyennes, plus basse et plus haute note sont disponibles et vous aident à vous situer.<br>

  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>
