<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt univ-col-1">
    <i id="anchor-ssa"></i><br><br>
    <hr>
    <h1>Devoir à la maison</h1>
    <div class="men-desc">
        Le module de gestion des devoirs maison simplifie considérablement la communication entre les enseignants et les élèves. Les professeurs peuvent facilement attribuer des devoirs et fixer le cours pour la remise. Les élèves, quant à eux, ont accès à une liste claire et précise de leurs devoirs, ce qui favorise une meilleure organisation.
        <br>
        En choisissant Maviescolaire.com, vous faites le choix d'une éducation de qualité, qui vous permettra de vous concentrer sur l'essentiel.
    </div>
    <br>
    <strong>Avantages</strong><br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Centralisation: Les devoirs sont disponibles au même endroit.<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Transparence: Les familles peuvent consulter les travaux à rendre.<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Organisation: Les élèves peuvent anticiper et mieux gérer leur temps.<br>

    {#
    <strong>Admission</strong><br>
    Ci-dessous la liste des dossiers en version papier à fournir pour l’inscription en les remettant à la scolarité de l'Université ACEEM Manakambahiny :<br>
    {% include 'Static/_mentionpieceadm.html.twig' %}
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;1x Chemise cartonnée (SANTÉ vert)<br>
    {% include 'Static/_mentionupfoot.html.twig' %}
    #}

  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>