<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt univ-col-1">
    <i id="anchor-eco"></i><br><br>
    <hr>
    <h1>Inscription</h1>
    <div class="men-desc">
      Le module d'inscription simplifie considérablement les démarches administratives. Il permet de centraliser toutes les informations nécessaires au dossier d'un élève, depuis la pré-inscription en ligne jusqu'à la confirmation définitive. Les parents peuvent ainsi remplir les formulaires d'inscription en toute autonomie et les établissements gagnent en efficacité en automatisant une grande partie des tâches administratives. De plus, ce module facilite la gestion des listes d'attente et permet un suivi précis de l'avancement des dossiers.
      <br>
      En choisissant Maviescolaire.com, vous faites le choix d'une éducation de qualité, qui vous permettra de vous concentrer sur l'essentiel.
    </div>
    <br>
    
    <strong>Avantages</strong><br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Optimisation administrative: Nous nous chargeons de la phase de pré-inscription jusqu'à l'inscription définitive.<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Centralisation: Toutes les informations sont sur la même liste et évite les écarts entre différent département.<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Urgence: Les contacts d'urgence sont disponibles immédiatement.<br>
    
    {#
    <strong>Admission</strong><br>
    Ci-dessous la liste des dossiers en version papier à fournir pour l’inscription en les remettant à la scolarité de l'Université ACEEM Manakambahiny :<br>
    {% include 'Static/_mentionpieceadm.html.twig' %}
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;1x Chemise cartonnée (ÉCONOMIE orange)<br>
    {% include 'Static/_mentionupfoot.html.twig' %}
    #}

  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>