<div class="row button-bottom">
    <div class="col-lg-7">
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-outline-dark btn-md btn-block men-up"><span class="icon-arrow-up nav-text"></span>&nbsp;Remonter&nbsp;<span class="icon-arrow-up nav-text"></span></button>
    </div>
    <div class="col-lg-3">
    </div>
</div>