{% include 'RawTemplate/_header.html.twig' %}
<i id="anchor-menup"></i>
<div id="mg-graph-identifier">stt-sov</div>

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">

    <h1>Partenaire</h1>
    <small>Pour intégrer Maviescolaire.com à votre école, rien de plus simple !</small>
    <br>Contactez rapidement notre équipe qui va vous accompagner dans l'intégration de ce logiciel et passer votre enseignement au niveau supérieur.
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}