.uac-line-login{
    margin-top: 10px;
    width: 100%;
    font-size: 25px;
    padding-left: 15px;
}
.uac-line-login-btn{
    width: 50%;
    margin-top: 30px;
    margin-left: 50%;
}
.mg-verify-logo-login{
    text-align: center;
    padding-top: 5em;
    padding-bottom: 1em;
}

